@use './../../utils/style/variables.scss';

.searchControls {
    align-self: flex-start;
    cursor: pointer;
}

.plus {
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url(./../../assets/img/plus.png);
    background-color: variables.$defaultBackgroundButton;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: variables.$defaultBackgroundButtonHover;

    }
}

.moins {
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url(./../../assets/img/moins.png);
    background-color: variables.$defaultBackgroundButton;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: variables.$defaultBackgroundButtonHover;

    }
}