@use './../../utils/style/variables.scss';

.searchContainer {
    display: flex;
    justify-content: end;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;


    .searchIcon {
        width: 35px;
        height: 35px;
        border-radius: 8px 0px 0px 8px;
        border-top: 1px solid;
        border-right: none;
        border-bottom: 1px solid;
        border-left: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variables.$defaultBackgroundButton;
        border-color: variables.$defaultBackgroundButton;
    }
}

.searchBar input {
    margin: 0;
    padding: 0;
    padding-left: 8px;
    height: 35px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid;
    font-size: 14px;
    border-color: variables.$defaultBackgroundButton;

    &:focus {
        border-top: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-left: none;
        border-color: variables.$defaultBackgroundButton;
        outline: none;
        height: 33px;
    }

}

.paginationInfo {
    color: #0000008A;
    display: none;
    text-align: center;

    p {
        font-size: 16px;
    }
}

/*pour le tableau */
.customTable .rdt_Table {
    font-size: 14px;
}

/*pour l'en-tête */
.customTable .rdt_TableHeadRow {
    font-size: 16px;
    font-weight: 700;
    background-color: variables.$defaultBackgroundTableHead;
}

/* pour les lignes */
.customTable .rdt_TableRow {
    font-size: 14px;
}

/* pour la pagination */
.rdt_Pagination {
    font-size: 16px !important;
}

/* Lignes impaires : */
.customTable .rdt_TableRow:nth-child(odd) {
    background-color: #ffffff;
}

/* Lignes paires : */
.customTable .rdt_TableRow:nth-child(even) {
    background-color: #f0f0f0;
}

.rdt_TableRow:hover {
    background-color: variables.$defaultBackgroundTableRowHover !important;
}

@media (max-width: 740px) {
    .customTable .rdt_TableHeadRow {
        font-size: 14px;
    }
}

@media (max-width: 599px) {
    .paginationInfo {
        display: block;
    }

    .searchContainer {
        justify-content: center;
    }
}