@use './../../utils/style/variables.scss';

.search-container {
    text-align: center;
}

/*pour le tableau */
.customTable .rdt_Table {
    font-size: 14px;
}

/*pour l'en-tête */
.customTable .rdt_TableHeadRow {
    font-size: 16px;
    font-weight: 700;
    background-color: variables.$defaultBackgroundTableHead;
}

/* pour les lignes */
.customTable .rdt_TableRow {
    font-size: 14px;
}

/* pour la pagination */
.rdt_Pagination {
    font-size: 16px !important;
}

/* Lignes impaires : */
.customTable .rdt_TableRow:nth-child(odd) {
    background-color: #ffffff;
}

/* Lignes paires : */
.customTable .rdt_TableRow:nth-child(even) {
    background-color: #f0f0f0;
}

.rdt_TableRow:hover {
    background-color: variables.$defaultBackgroundTableRowHover !important;
}

.state-header {
    position: relative;

    .state-filter-input {
        font-size: 12px;
        width: 90%;
        margin-top: 5px;
        display: none;
        position: absolute;
        bottom: -18px;
        left: 0;
        z-index: 10;
    }

    &:hover .state-filter-input {
        display: block;
    }
}

@media (min-width: 1320px) {
    .tableContent {
        margin: 0 100px;
    }
}

@media (max-width: 740px) {
    .customTable .rdt_TableHeadRow {
        font-size: 14px;
    }
}