@use './../../utils/style/variables.scss';

.input-container {
    position: relative;
    margin-top: 20px;
}

label {
    position: absolute;
    left: 10px;
    bottom: 6px;
    color: #737373;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 1;

}

input:focus+label,
label.focused {
    bottom: 32px;
    left: 8px;
    font-size: 12px;
}

.formCreateEmployee {
    align-content: center;
}

.pageTitle {
    text-align: center;
    background-color: variables.$defaultBackgroundTitle;
    padding: 5px;
    font-size: 18px;
    color: variables.$defaultTextColorTitle;
}

.errorMessage {
    color: red;
    font-size: 14px;
}

.invisible {
    visibility: hidden;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: rgb(245 245 244);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid;
    font-size: 14px;
    border-color: variables.$defaultBackgroundButton;

    &:focus {
        border: 2px solid;
        border-color: variables.$defaultBackgroundButton;
        outline: none;
    }
}

fieldset {
    margin-top: 20px;
    margin-inline: 30px;
    padding: 0;
    border: 0;
    border-top: 1px solid #0000008A;
}

legend {
    font-weight: 700;
    margin-bottom: 15px;
    color: #0000008B;
}

.containerBtn {
    display: flex;
    margin-inline: 30px;
    gap: 20px;
    justify-content: end;
    flex-direction: row-reverse;
    margin-block: 20px;
}

@media (min-width: 741px) {

    .pageTitle {
        font-size: 24px;
    }

    label,
    legend {
        font-size: 16px;
    }

    input:focus+label,
    label.focused {
        font-size: 14px;
    }

    .containerForm {
        display: flex;
        flex-wrap: wrap;

    }

    .containerForm>* {
        flex: 1 1 20%;
    }

    .containerForm> :nth-child(3) {
        flex: 1 1 100%;
    }

    .containerFormInternalInfo {
        display: flex;
        justify-content: space-between;
        gap: 60px;

        .containerInputInternalInfo {
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .containerForm> :nth-child(3) {
        flex: 1 1 20%;
    }

    .containerFormInternalInfo {
        flex-direction: column;
        gap: 0;
    }
}