@use './../../utils/style/variables.scss';

.home {
    align-content: center;
    text-align: center;
    position: relative;
}

.home h1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 32px;
}

.navHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px 50px 10px;
}

.perf {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: #00000045
}