@use './../../utils/style/variables.scss';

.home {
    align-content: center;
    text-align: center;
}

.home h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.navHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px 50px 10px;
}

.btnHome {
    width: 250px;
}