@use './../../utils/style/variables.scss';

.btn {
    background-color: variables.$defaultBackgroundButton;
    text-decoration: none;
    font-weight: 700;
    color: variables.$defaultTextColorButton;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    cursor: pointer;
}

:hover.btn {
    background-color: variables.$defaultBackgroundButtonHover;
}


.btnHome {
    width: 250px;
}

.btnForm {
    width: 90px;
    justify-content: center;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: green;
        border-color: green;
        color: white;
    }
}

.btnClear {
    background-color: transparent;
    border: 2px solid;
    border-color: variables.$defaultBackgroundButton;
}

@container (max-width: 700px) {

    .btntext {
        display: none;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .btn {
        border-radius: 50%;
        padding: 10px;
    }
}