@use './../../utils/style/variables.scss';

.searchBar {
    display: flex;
    align-items: center;
    position: relative;

    .clearButton {
        position: absolute;
        right: 8px;
    }

    .searchIcon {
        width: 32px;
        height: 32px;
        border-radius: 8px 0px 0px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variables.$defaultBackgroundButton;
        border-color: variables.$defaultBackgroundButton;
    }
}

.searchBar input {
    box-sizing: border-box;
    width: 178px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 32px;
    height: 32px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid;
    font-size: 14px;
    border-color: variables.$defaultBackgroundButton;

    &:focus {
        border: 2px solid;
        border-color: variables.$defaultBackgroundButton;
        outline: none;
    }
}