@use './../../utils/style/variables.scss';

.searchBar {
    display: flex;
    align-items: center;
    position: relative;

    .clearButton {
        position: absolute;
        right: 8px;
    }

    .searchIcon {
        .icon-search {
            width: 32px;
            height: 32px;
            background-color: variables.$defaultBackgroundButton;
            background-image: url(./../../assets/img/chercher18x18.png);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 8px 0px 0px 8px;
        }
    }
}

.searchBar input {
    box-sizing: border-box;
    width: 178px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 32px;
    height: 32px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid;
    font-size: 14px;
    border-color: variables.$defaultBackgroundButton;

    &:focus {
        border: 2px solid;
        border-color: variables.$defaultBackgroundButton;
        outline: none;
    }
}