@use './../../utils/style/variables.scss';


header {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #111;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: variables.$defaultBackgroundHeader;
    container-type: inline-size;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo h1 {
    color: variables.$defaultTextColorLogo;
    font-weight: 500;
    font-size: 48px;
}

// .logo img {
//     width: 100px;
//     height: auto;
// }

nav {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: variables.$defaultBackgroundButton;
    text-decoration: none;
    font-weight: 700;
    color: variables.$defaultTextColorButton;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

:hover.btn {
    background-color: variables.$defaultBackgroundButtonHover;
}

// .icon {
//     width: 24px;
//     height: auto;
// }

@container (max-width: 700px) {

    .logo img {
        width: 60px;
        height: auto;
    }

    .logo h1 {
        font-size: 24px;
    }

    .btntext {
        display: none;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .btn {
        border-radius: 50%;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    header {
        padding: 10px;
    }
}