@use './variables.scss';

body,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#root {
    // font-family: variables.$defaultFont;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

main {
    flex: 1;
    margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
}

@media (min-width: 1340px) {
    main {
        margin: 20px 100px;
    }
}

@media (min-width: 1600px) {
    main {
        margin: 20px 300px;
    }
}

.custom-modal {

    .modal-overlay {
        background-color: hsl(70.47deg 75.63% 38.63% / 85%);
    }

    .modal-footer {
        gap: 20px;
    }

    .modal-border {
        --border-radius: 8px;
        --border-width: 3px;
    }

    .modal-container {
        border-color: variables.$defaultBackgroundButton;
    }

    .modal-btn {
        background-color: variables.$defaultBackgroundButton ;
        color: variables.$defaultTextColorButton ;
        border: 2px solid;
        min-width: 90px;
    }

    .modal-btn-confirm {

        &:hover {
            background-color: green;
            border-color: green;
            color: white;
        }
    }

    .modal-btn-cancel {
        background-color: transparent;
        border-color: variables.$defaultBackgroundButton;

        &:hover {
            background-color: red;
            border-color: red;
            color: white;
        }
    }

    .modal-btn:focus-visible,
    .modal-close:focus-visible {
        outline: 5px solid hsl(70.47deg 75.63% 38.63% / 52%);
    }

    .modal-forceFocusVisible {
        outline: none;
    }

}