// Font
// $defaultFont: Roboto, Helvetica, Arial, sans-serif;

$defaultTextColorLogo: hsl(72.23deg 86.55% 23.33%);
$defaultBackgroundHeader: #ffffff;
$defaultBackgroundButton: hsl(70.47deg 75.63% 38.63%);
$defaultTextColorButton: #000000;
$defaultBackgroundButtonHover: hsl(70.47deg 75.63% 32%);
$defaultBackgroundTitle: hsl(70.47deg 75.63% 38.63%);
$defaultTextColorTitle: #000000;

$defaultBackgroundTableHead: hsl(70.47deg 75.63% 85%);
$defaultBackgroundTableRowHover: hsl(70.47deg 75.63% 75%);